<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.whm.dao.UserMapper">
  <resultMap id="BaseResultMap" type="cn.whm.entity.User">
    <id column="userid" jdbcType="INTEGER" property="userid" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="userpassword" jdbcType="VARCHAR" property="userpassword" />
    <result column="useremail" jdbcType="VARCHAR" property="useremail" />
    <result column="useridCard" jdbcType="VARCHAR" property="useridcard" />
    <result column="usertelephone" jdbcType="VARCHAR" property="usertelephone" />
    <result column="usershenhetype" jdbcType="INTEGER" property="usershenhetype" />
    <result column="user1" jdbcType="VARCHAR" property="user1" />
    <result column="user2" jdbcType="VARCHAR" property="user2" />
    <result column="user3" jdbcType="VARCHAR" property="user3" />
  </resultMap>
  <sql id="Base_Column_List">
    userid, username, userpassword, useremail, useridCard, usertelephone, usershenhetype, 
    user1, user2, user3
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where userid = #{userid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where userid = #{userid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.whm.entity.User">
    insert into user (userid, username, userpassword, 
      useremail, useridCard, usertelephone, 
      usershenhetype, user1, user2, 
      user3)
    values (#{userid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{userpassword,jdbcType=VARCHAR}, 
      #{useremail,jdbcType=VARCHAR}, #{useridcard,jdbcType=VARCHAR}, #{usertelephone,jdbcType=VARCHAR}, 
      #{usershenhetype,jdbcType=INTEGER}, #{user1,jdbcType=VARCHAR}, #{user2,jdbcType=VARCHAR}, 
      #{user3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.whm.entity.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        userid,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="userpassword != null">
        userpassword,
      </if>
      <if test="useremail != null">
        useremail,
      </if>
      <if test="useridcard != null">
        useridCard,
      </if>
      <if test="usertelephone != null">
        usertelephone,
      </if>
      <if test="usershenhetype != null">
        usershenhetype,
      </if>
      <if test="user1 != null">
        user1,
      </if>
      <if test="user2 != null">
        user2,
      </if>
      <if test="user3 != null">
        user3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="userpassword != null">
        #{userpassword,jdbcType=VARCHAR},
      </if>
      <if test="useremail != null">
        #{useremail,jdbcType=VARCHAR},
      </if>
      <if test="useridcard != null">
        #{useridcard,jdbcType=VARCHAR},
      </if>
      <if test="usertelephone != null">
        #{usertelephone,jdbcType=VARCHAR},
      </if>
      <if test="usershenhetype != null">
        #{usershenhetype,jdbcType=INTEGER},
      </if>
      <if test="user1 != null">
        #{user1,jdbcType=VARCHAR},
      </if>
      <if test="user2 != null">
        #{user2,jdbcType=VARCHAR},
      </if>
      <if test="user3 != null">
        #{user3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.whm.entity.User">
    update user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="userpassword != null">
        userpassword = #{userpassword,jdbcType=VARCHAR},
      </if>
      <if test="useremail != null">
        useremail = #{useremail,jdbcType=VARCHAR},
      </if>
      <if test="useridcard != null">
        useridCard = #{useridcard,jdbcType=VARCHAR},
      </if>
      <if test="usertelephone != null">
        usertelephone = #{usertelephone,jdbcType=VARCHAR},
      </if>
      <if test="usershenhetype != null">
        usershenhetype = #{usershenhetype,jdbcType=INTEGER},
      </if>
      <if test="user1 != null">
        user1 = #{user1,jdbcType=VARCHAR},
      </if>
      <if test="user2 != null">
        user2 = #{user2,jdbcType=VARCHAR},
      </if>
      <if test="user3 != null">
        user3 = #{user3,jdbcType=VARCHAR},
      </if>
    </set>
    where userid = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.whm.entity.User">
    update user
    set username = #{username,jdbcType=VARCHAR},
      userpassword = #{userpassword,jdbcType=VARCHAR},
      useremail = #{useremail,jdbcType=VARCHAR},
      useridCard = #{useridcard,jdbcType=VARCHAR},
      usertelephone = #{usertelephone,jdbcType=VARCHAR},
      usershenhetype = #{usershenhetype,jdbcType=INTEGER},
      user1 = #{user1,jdbcType=VARCHAR},
      user2 = #{user2,jdbcType=VARCHAR},
      user3 = #{user3,jdbcType=VARCHAR}
    where userid = #{userid,jdbcType=INTEGER}
  </update>
</mapper>